## Project Overview
### Goal: Analyze e-commerce customer behavior to uncover insights like top products, customer purchasing patterns, and regional sales trends, then visualize them in a dashboard.

In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv("/content/ecommerce_customer_data_custom_ratios.csv")

In [34]:
df.head()

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Payment Method,Customer Age,Returns,Customer Name,Age,Gender,Churn
0,46251,2020-09-08 09:38:32,Electronics,12,3,740,Credit Card,37,0.0,Christine Hernandez,37,Male,0
1,46251,2022-03-05 12:56:35,Home,468,4,2739,PayPal,37,0.0,Christine Hernandez,37,Male,0
2,46251,2022-05-23 18:18:01,Home,288,2,3196,PayPal,37,0.0,Christine Hernandez,37,Male,0
3,46251,2020-11-12 13:13:29,Clothing,196,1,3509,PayPal,37,0.0,Christine Hernandez,37,Male,0
4,13593,2020-11-27 17:55:11,Home,449,1,3452,Credit Card,49,0.0,James Grant,49,Female,1

In [35]:
df.columns

Index(['Customer ID', 'Purchase Date', 'Product Category', 'Product Price',
       'Quantity', 'Total Purchase Amount', 'Payment Method', 'Customer Age',
       'Returns', 'Customer Name', 'Age', 'Gender', 'Churn'],
      dtype='object')

##Column Descriptions
* Customer ID: Unique identifier for each customer.
* Purchase Date: Date and time of the purchase.
* Product Category: Category of the product purchased.
* Product Price: Price per unit of the product in USD.
* Quantity: Number of units purchased.
* Total Purchase Amount: Total cost of the purchase.
* Payment Method: Method used for payment.
* Customer Age: Age of the customer from one column appears duplicated.
* Returns: Indicates if the purchase was returned.
* Customer Name: Full name of the customer.
* Age: Age of the customer redundant with Customer Age.
* Gender: Gender of the customer.
* Churn: Indicates if the customer stopped purchasing.

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Customer ID            250000 non-null  int64
 1   Purchase Date          250000 non-null  object
 2   Product Category       250000 non-null  object
 3   Product Price          250000 non-null  int64
 4   Quantity               250000 non-null  int64
 5   Total Purchase Amount  250000 non-null  int64
 6   Payment Method         250000 non-null  object
 7   Customer Age           250000 non-null  int64
 8   Returns                202404 non-null  float64
 9   Customer Name          250000 non-null  object
 10  Age                    250000 non-null  int64
 11  Gender                 250000 non-null  object
 12  Churn                  250000 non-null  int64
dtypes: float64(1), int64(7), object(5)
memory usage: 24.8+ MB

In [37]:
df.describe()

,Customer ID,Product Price,Quantity,Total Purchase Amount,Customer Age,Returns,Age,Churn
count,250000.00000,250000.000000,250000.000000,250000.000000,250000.000000,202404.000000,250000.000000,250000.000000
mean,25004.03624,254.659512,2.998896,2725.370732,43.940528,0.497861,43.940528,0.199496
std,14428.27959,141.568577,1.414694,1442.933565,15.350246,0.499997,15.350246,0.399622
min,1.00000,10.000000,1.000000,100.000000,18.000000,0.000000,18.000000,0.000000
25%,12497.75000,132.000000,2.000000,1477.000000,31.000000,0.000000,31.000000,0.000000
50%,25018.00000,255.000000,3.000000,2724.000000,44.000000,0.000000,44.000000,0.000000
75%,37506.00000,377.000000,4.000000,3974.000000,57.000000,1.000000,57.000000,0.000000
max,50000.00000,500.000000,5.000000,5350.000000,70.000000,1.000000,70.000000,1.000000

In [38]:
df.shape

(250000, 13)

##Clean and Process Data

In [39]:
df.isnull().sum()

Customer ID                  0
Purchase Date                0
Product Category             0
Product Price                0
Quantity                     0
Total Purchase Amount        0
Payment Method               0
Customer Age                 0
Returns                  47596
Customer Name                0
Age                          0
Gender                       0
Churn                        0
dtype: int64

In [40]:
print(df[['Customer Age', 'Age']].head())

   Customer Age  Age
0            37   37
1            37   37
2            37   37
3            37   37
4            49   49

In [41]:
## Drop redundant 'Age' column
df = df.drop(columns=['Age'], axis= True)

In [42]:
df.columns

Index(['Customer ID', 'Purchase Date', 'Product Category', 'Product Price',
       'Quantity', 'Total Purchase Amount', 'Payment Method', 'Customer Age',
       'Returns', 'Customer Name', 'Gender', 'Churn'],
      dtype='object')

In [43]:
# Convert 'Purchase Date' to datetime
df['Purchase Date'] = pd.to_datetime(df['Purchase Date'])

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Customer ID            250000 non-null  int64
 1   Purchase Date          250000 non-null  datetime64[ns]
 2   Product Category       250000 non-null  object
 3   Product Price          250000 non-null  int64
 4   Quantity               250000 non-null  int64
 5   Total Purchase Amount  250000 non-null  int64
 6   Payment Method         250000 non-null  object
 7   Customer Age           250000 non-null  int64
 8   Returns                202404 non-null  float64
 9   Customer Name          250000 non-null  object
 10  Gender                 250000 non-null  object
 11  Churn                  250000 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(4)
memory usage: 22.9+ MB

In [45]:
# Handle missing values in 'Returns' (fill 0 for no return)
df['Returns'] = df['Returns'].fillna(0).astype(int)

In [46]:
df.isnull().sum()

Customer ID              0
Purchase Date            0
Product Category         0
Product Price            0
Quantity                 0
Total Purchase Amount    0
Payment Method           0
Customer Age             0
Returns                  0
Customer Name            0
Gender                   0
Churn                    0
dtype: int64

In [47]:
# Currency conversion: Product Price (USD) to INR
exchange_rate = 85 # 1 USD = 85 INR
df['Product_Price_INR'] = df['Product Price'] * exchange_rate

In [48]:
# Correct 'Total Purchase Amount' to match calculated INR value
df['Total_Purchase_Amount_INR'] = df['Product_Price_INR'] * df ['Quantity']

In [50]:
# Verify 'Total Purchase Amount' (INR) against calculated value
df['Calculated_Total_INR'] = df['Product_Price_INR'] * df['Quantity']
inconsistent_totals = df[df['Total_Purchase_Amount_INR'] != df['Calculated_Total_INR']]
print("Rows with inconsistent totals:", len(inconsistent_totals))

Rows with inconsistent totals: 0

In [51]:
# Drop temporary columns
df = df.drop(columns=['Product_Price_INR','Total Purchase Amount', 'Calculated_Total_INR'], axis= True)

In [52]:
# Rename 'Product Price' to clarify it’s in USD
df = df.rename(columns={'Product Price': 'Product_Price_USD'})

In [53]:
df = df.drop_duplicates()

In [54]:
df.columns

Index(['Customer ID', 'Purchase Date', 'Product Category', 'Product_Price_USD',
       'Quantity', 'Payment Method', 'Customer Age', 'Returns',
       'Customer Name', 'Gender', 'Churn', 'Total_Purchase_Amount_INR'],
      dtype='object')

In [55]:
df.head()

,Customer ID,Purchase Date,Product Category,Product_Price_USD,Quantity,Payment Method,Customer Age,Returns,Customer Name,Gender,Churn,Total_Purchase_Amount_INR
0,46251,2020-09-08 09:38:32,Electronics,12,3,Credit Card,37,0,Christine Hernandez,Male,0,3060
1,46251,2022-03-05 12:56:35,Home,468,4,PayPal,37,0,Christine Hernandez,Male,0,159120
2,46251,2022-05-23 18:18:01,Home,288,2,PayPal,37,0,Christine Hernandez,Male,0,48960
3,46251,2020-11-12 13:13:29,Clothing,196,1,PayPal,37,0,Christine Hernandez,Male,0,16660
4,13593,2020-11-27 17:55:11,Home,449,1,Credit Card,49,0,James Grant,Female,1,38165

##overview
  Performed data cleaning by handling null values, standardizing currency to INR, removing duplicates, and converting date columns to datetime format. Also validated calculated fields for consistency.

In [56]:
# Save cleaned data
df.to_csv("ecommerce_data_cleaned.csv", index=False)
print("Cleaned data saved as 'ecommerce_data_cleaned.csv'!")

Cleaned data saved as 'ecommerce_data_cleaned.csv'!